[submodule "bmya/odoo-bmya"]
	path = bmya/odoo-bmya
	url = git@github.com:bmya/odoo-bmya.git
	branch = 16.0

[submodule "bmya/bmya-enterprise"]
	path = bmya/bmya-enterprise
	url = git@github.com:bmya/bmya-enterprise.git
	branch = 16.0

[submodule "bmya/website-connectors"]
	path = bmya/website-connectors
	url = git@github.com:bmya/website-connectors.git
	branch = 16.0_multivende
[submodule "innovatek"]
	path = innovatek
	url = git@github.com:bmya/innovatek.git
	branch = 16.0
[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = https://github.com/OCA/sale-workflow
[submodule "OCA/server-backend"]
	path = OCA/server-backend
	url = https://github.com/OCA/server-backend.git
	branch = 16.0
